In [55]:
#Create the connection with mysql database
import mysql.connector as sql
#To connect into specific database we use an additional parameter database=""
connection=sql.connect(host="localhost",user="root",password="IcuI4cu2",database="student")
#connection.autocommit(True)
cursor=connection.cursor()
print(connection)

<mysql.connector.connection.MySQLConnection object at 0x0000028E4AC9CCA0>

# Create database

In [2]:
cursor = connection.cursor()
cursor.execute('CREATE DATABASE AY')

In [7]:
cursor.execute('SHOW DATABASES')

In [8]:
for x in cursor:
    print(x)

('ay',)
('ayesh',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('student',)
('sys',)
('world',)

In [9]:
cursor.execute('DROP DATABASE AY')

In [10]:
cursor.execute('SHOW DATABASES')

In [11]:
for x in cursor:
    print(x)

('ayesh',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

# Creating a table in student database

In [9]:
#Create the cursor and execute the sql query
cursor=connection.cursor()
cursor.execute("CREATE TABLE studentinfo1 (id INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(255), subject VARCHAR(255))")

# Inserting values to tables

In [56]:
#execute the query, values are defined as like strings 
query="INSERT INTO studentinfo(name,subject) VALUES(%s,%s)"
value=("John","Stat")
cursor.execute(query,value)
print("Row inserted",cursor.lastrowid)

Row inserted 25

In [39]:
#Now let's try to fetch the data from the server
cursor=connection.cursor()
cursor.execute("SELECT * FROM studentinfo")
cursor.fetchall()

[(15, 'John', 'Stat')]

In [57]:
#inserting multiple values
cursor = connection.cursor()
query="INSERT INTO studentinfo(name,subject) VALUES(%s,%s)"
values=[("Jenny","Stat"),("Andrew","Maths"),("Ricky","Physics"),("Joanne","Chem")]
cursor.executemany(query,values)
print("Row inserted",cursor.lastrowid)

Row inserted 26

In [54]:
cursor.execute("SELECT * FROM studentinfo")
cursor.fetchall()

[]

In [43]:
#to fetch only one at a time
cursor.fetchone()

In [58]:
cursor.execute("SELECT * FROM studentinfo WHERE subject='stat'")

In [60]:
cursor.fetchall()

[(25, 'John', 'Stat'), (26, 'Jenny', 'Stat')]